.App {
  text-align: center;
  margin-top: 25px;
}

#Title h1{
  text-align:left;
  margin: 25px;
  font-size: 24px;
  color: firebrick;
}

.Heading {
  margin-top:50px;
}

#Directions 
{
    width: 400px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    border-width: 2px;
    border-color: black;
    border-style: solid;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #F0FFFF;
}

a{
  text-decoration:none;
  color:firebrick;
}

.songCard {
  margin: 20px;
  width: 175px;
  align-items:center;
  display: inline-block;
  border: none;
  background-color:transparent;
}

#base-timer {
  position: relative;
  transform: translate(-50%, 0);
  left: 50%;
  height: 100px;
  width: 100px;
}

.base-timer__path-remaining {
  
  color: limegreen;
  /* Just as thick as the original ring */
  stroke-width: 7px;

  /* Rounds the line endings to create a seamless circle */
  stroke-linecap: round;

  /* Makes sure the animation starts at the top of the circle */
  transform: rotate(90deg);
  transform-origin: center;

  /* One second aligns with the speed of the countdown timer */
  transition: 1s linear all;

  fill-rule: nonzero;

  /* Allows the ring to change color when the color value updates */
  stroke: currentColor;
}

/* Removes SVG styling that would hide the time label */
.base-timer__circle {
  fill: none;
  stroke: none;
}


.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}



/* The SVG path that displays the timer's progress */
.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__label {
  position: absolute;
  
  /* Size should match the parent container */
  width: 100px;
  height: 100px;
  
  /* Keep the label aligned to the top */
  top: 0;
  
  /* Create a flexible box that centers content vertically and horizontally */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Sort of an arbitrary number; adjust to your liking */
  font-size: 20px;
}

.base-timer__svg {
  /* Flips the svg and makes the animation to move left-to-right */
  transform: scaleX(-1);
}
